<div class="footer">
	<div class="container">				 	
		<div class="col-md-3 ftr_navi ftr">
			<h3>NAVIGATION</h3>
			<ul>
				<li><a href="/index">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/booking">Booking</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</div>
		<div class="col-md-3 ftr_navi ftr">
					<h3>FACILITIES</h3>
					<ul>
						<li><a href="#">Double bedrooms</a></li>
						<li><a href="#">Single bedrooms</a></li>
						<li><a href="#">Royal facilities</a></li>						
						<li><a href="#">Connected rooms</a></li>
					</ul>
		</div>
		<div class="col-md-3 ftr_navi ftr">
			<h3>GET IN TOUCH</h3>
			<ul>
				<li>6314.001, WPL,</li>
				<li>University of Texas Dallas</li>
				<li></li>
			</ul>
		</div>
		<div class="col-md-3 ftr-logo">
			<a href="/index"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>UTD Hotels</a>
			<ul>
				<li><a href="#" class="f1"> </a></li>
				<li><a href="#" class="f2"> </a></li>
				<li><a href="#" class="f3"> </a></li>
			</ul>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<div class="copy-right">
<div class="container">
	<p> &copy;2017 Comet Inn. All Rights Reserved | Design by  <a href="https://nodejs.org/en/docs/" target="_blank">NodeJS</a></p>
</div>
</div>
<script src="js/bootstrap.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$(".banner-page-head").removeClass("imagebg");
	$(".banner1").addClass("banner");
$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>