<!--
Author: PHP
Author URL: http://PHP.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{{> menu}}
<!DOCTYPE html>
<html>
	
<head>
<title>Comet Inn a Hotel Category Flat Bootstrap Responsive Website Template | About :: PHP</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Comet Inn Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="js/move-top.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
	<!-- start-smoth-scrolling -->
</head>

<body>

<!--about-->
	<!--start-about-->
	<div class="about">
		<div class="container">
			<div class="about-top heading">
				<h2 class="tittle-one">ABOUT</h2>
			</div>
			<div class="about-bottom text-center">
				<img src="images/abt-3.jpg" alt="" />
				<h4>This project is done as a part of Web Programming Language course in University of Texas at Dallas, Fall 2018.</h4>
				<p>This is a hotel management website for a independent franchise to manage his/her hotel bookings for different branches across the country. The website provides a smooth user transaction experience to book rooms with options to search with name, filter based on features. Also there is an admin portal where admin can add, update & soft delete users, rooms, branches.</p>
			</div>
		</div>
	</div>
	<!--end-vision-->
	<!--start-vision-->
	<div class="vision">
		<div class="container">
			<div class="vision-top heading">
				<h3 class="tittle">Technical Information</h3>
			</div>
			<div class="vision-bottom">
				<div class="col-md-8 vision-left">
					<div class="col-md-5 vsn-left">
						<img src="images/13.jpg" alt="" />
					</div>
					<div class="col-md-7 vsn-right">
						<h4>Built using NodeJS, HTML, CSS, bootstrap, JQuery.</h4>
						<p>The project is well built by using NodeJS,expressJS for server and MongoDB as database. We used HTML with bootstrap for the UI.</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-4 vision-right">
					<ul>
						<li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span><a href="#">Used bycrypt for password encryption.</a></li>
						<li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span><a href="#">All input fields are validated.</a></li>
						<li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span><a href="#">Used mongoose to connect to database.</a></li>
						<li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span><a href="#">Built as modular as possible.</a></li>
						<li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span><a href="#">Very minimal use of Session Variables.</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--end-vision-->
	<!--start-teacher-->
	<div class="staff">
		<div class="container">
			<h3 class="tittle">OUR TEAM</h3>
			<ul class="ch-grid">
				
					<li>
						<div style="background-color:grey;" class="ch-item">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front"></div>
									<div class="ch-info-back">
										<h4>Pavan</h4>
										<p style="color:red;">Developer</p>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div style="background-color:grey;" class="ch-item">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front"></div>
									<div class="ch-info-back">
										<h4>Venkatesh</h4>
										<p style="color:red;">Developer</p>
									</div>
								</div>
							</div>
						</div>
					</li>
			</ul>
		</div>
	</div>
<!--//about-->
<!--footer-->
{{> footer}}
<!-- //smooth scrolling -->
</body>
</html>