<html>
    <head></head>
    <body>
<form action='/hotel' method="POST">
hotel_id:<input type='text' name='hotel_id'>
city:<input type='text' name='city'>
address:<input type='text' name='address'>
zipcode:<input type='text' name='zipcode'>
status:<input type='text' name='status'>
<input type='submit'>
</form>


    </body>
</html>