
<div class="banner1">
	{{> menu}}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/chocolat.css" rel="stylesheet">
<script src="js/bootstrap.min.js"></script>
<script src="js/validateLogin.js" type="text/javascript"></script>


<div class="banner-info">
	<script src="js/responsiveslides.min.js"></script>
	<script>
							// You can also use "$(window).load(function() {"
							$(function () {
								// Slideshow 4
							$("#slider3").responsiveSlides({
								auto: true,
								pager: false,
								nav: false,
								speed: 500,
								namespace: "callbacks",
								before: function () {
							$('.events').append("<li>before event fired.</li>");
							},
							after: function () {
								$('.events').append("<li>after event fired.</li>");
								}
								});
								});
	</script>
	
</div>
<div class="banner-bottom1">
	
		<h3 class="tittle"> Member Login</h2>
		<h5 class="tittle">{{output}}</h5>
		<form method="POST" action="/login">
		<input type="text" id="email" name="email" placeholder="Enter your Email ID"/>
		<br/><br/>
		<input type="password" id="password" name="password" placeholder="Password"/>
		<br/><br/>
		<div><a href="/forgotpassword">Forgot Password</a></div>
		<div><a href="/register">New user? Register here!</a></div>
		
		
		<div class="search">
					<input type="submit" id="submit" name="login" value="  Login  ">
		</div>
		</form>
		<div class="clearfix"></div>
	</div>
</div>
</div>
<!-- //banner -->
<!-- banner-pos -->

{{> footer}}

</body>
</html>
