<html>
    <head>
        </head>
        <body>
            <form action='/log' method='POST'>
            email:<input type='text' name='email'>
            password:<input type='password' name='password'>
            <input type='submit'>
                </form>
        </body>
    </html>